<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="" id="fsize-set">
        <script src="../js/fsize-set.js"></script>
        <link rel="stylesheet" href="../css/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="../css/ui-box.css">
        <link rel="stylesheet" href="../css/ui-base.css">
        <link rel="stylesheet" href="../css/ui-color.css">
        <link rel="stylesheet" href="../css/appcan.icon.css">
        <link rel="stylesheet" href="../css/appcan.control.css">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="css/address.css">
    </head>
    <body class="" ontouchstart>
        <div class="bc-bg address-page" tabindex="0" data-control="PAGE" id="address_pick">
            <div class="uh" data-control="HEADER" id="Header">
                <div class="ub ub-ac header">
                    <div class="nav-btn" id="nav-left">
                        <span class="fz-md fc-title">取消</span>
                    </div>
                    <h1 class="ub-f1 ulev-3 ut-s tx-c" tabindex="0" v-cloak>{{title}}</h1>
                    <div class="nav-btn" id="nav-right">
                        <div class="fa fa-1g ub-img1"></div>
                    </div>
                </div>
                <div class="search-box bc-bg">
                    <div class="search" @click="searchToInput()">
                        <div class="search-main ub-con ub ub-ac ub-pc" :class="isToInput?'':'hide' ">
                            <div class="search-main-center ub-f1">
                                <input class="search-ipt" v-model="searchIpt" v-focus="isToInput" @input="searchFilter()" @blur="searchToText()" />
                            </div>
                            <div class="search-main-right" @click="searchEmpty()">
                                <i class="search-del-icon"></i>
                            </div>
                        </div>
                        <div class="search-note ub-con ub ub-ac ub-pc" :class="isToInput?'hide':'' ">
                            <i class="icon-20-h-search"></i>
                            <span class="search-note-text fz-md fc-text">请输入搜索内容</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uf" data-control="FOOTER" id="Footer">
                <div class="address-pick ub ub-ac border-top bg-white" @click.stop="showPicked(true)">
                    <div class="ub-f1 pd-10-lr">
                        <span class="fz-md fc-main" v-cloak>已选择{{peoplePick.length}}人</span>
                        <i class="icon-28-upward"></i>
                    </div>
                    <div class=" pd-10-lr">
                        <button class="btn bg-main" id="handin">
                            <span class="fz-bg fc-white" v-cloak>确定&nbsp;({{peoplePick.length}}/{{peopleLen}})</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="bc-bg ub ub-ver" data-control="FLEXBOXVER" id="ScrollContent" class="uinn-4a">
                <div class="address-con">
                    <div class="address-list">
                        <!-- 数据 -->
                        <div class="myli-box" v-for="(item, index) in people" :data-group="item.text" v-if="item.jsonStr.length>0" v-cloak>
                            <div class="myli-type">
                                <span class="fz-md fc-text fz-md-set">{{item.text}}</span>
                            </div>
                            <ul class="myli">
                                <li class="myli-item" v-for="(value, key) in item.jsonStr" @click="pickPeople(value.userCode, value.disabled)" :data-name="value.userName" :data-pinyin="value.userPinyin" :data-szm="value.userSZM">
                                    <div class="myli-center ub ub-ac">
                                        <div class="myli-tick">
                                            <i class="icon-20-choose" :class="value.disabled?'disabled':value.checked?'actives':'' "></i>
                                        </div>
                                        <div class="myli-headpic">
                                            <div class="myli-headpic-box">
                                                <img class="myli-headpic-img" v-if="value.hashead" :src="value.headurl" @error="headpicReplace(value)" />
                                                <div class="myli-headpic-txt" v-else :class="value.headbgclass">{{value.headtext}}</div>
                                            </div>
                                        </div>
                                        <div class="myli-main ub-f1">
                                            <p class="fz-md fc-title inaline fz-md-set">{{value.userName}}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- 数据END -->
                        <div class="nothing ub ub-ac hide"></div>
                    </div>
                    <div class="address-index ub ub-ver ub-pc" v-cloak>
                        <div class="address-index-box ub ub-ver" 
                            @touchstart.stop="fastFind()" 
                            @touchmove.stop="fastFind()" 
                            @touchend.stop="fastFindEnd()" 
                            @touchcancel.stop="fastFindEnd()" >
                            <span v-for="(item, index) in people" v-if="item.jsonStr.length>0" :data-group="item.text" class="address-index-item fz-sm fc-title">{{item.textShort}}</span>
                        </div>
                    </div>
                    <div class="address-itemshow" v-show="fastFindText!='' " v-cloak>{{fastFindText}}</div>
                </div>
                <!--弹出分组提示框START -->
                <div class="dialog-shade hide">
                    <div class="dialog-modal fc-title">
                        <div class="dialog-modal-box">
                            <div class="dialog-modal-title">
                                <span class="fz-lg">是否保存此分组</span>   
                            </div>
                            <div class="dialog-modal-msg">
                                <span class="fz-md dialog-msg">是否保存分组信息?保存后,下次发送通知时即可选择此模式并快速发送。</span>
                            </div>
                            <div class="dialog-modal-input ">
                                <div class="lists-item  ub ub-ac">
                                    <div class="lists-item-title fc-title">
                                        <span class="fz-md">分组名称：</span>
                                    </div>
                                    <div class="lists-item-center inaline fc-text ub-f1">
                                        <input type="text" class="fz-md input"  v-model="txt"  placeholder="分组1"/>
                                    </div>
                                </div>
                            </div>
                            <div class="dialog-footer ub ub-ac">
                                <div class="dialog-btn yesBtn ub-f1" id="confirm" @click="confirm">保存</div>
                                <div class="dialog-btn noBtn ub-f1" id="cancel" @click="cancel">不保存</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--弹出分组提示框END  -->
            </div>
            
            <div class="address-haspick ub ub-ver bc-bg" :class="isShowPicked?'address-haspick-show':'' " v-cloak>
                <div class="uh">
                    <div class="ub ub-ac header">
                        <div class="nav-btn" id="nav-left-sub">
                            <div class="fa fa-1g ub-img1"></div>
                        </div>
                        <h1 class="ub-f1 ulev-3 ut-s tx-c" tabindex="0">已选人员({{peoplePick.length}})</h1>
                        <div class="nav-btn" id="nav-right-sub" @click.stop="showPicked(false)">
                            <span class="fz-md fc-title">确定</span>
                        </div>
                    </div>
                </div>
                <div class="address-haspick-con ub-f1">
                    <ul class="myli" v-if="peoplePick.length>0">
                        <li class="myli-item" v-for="(value, key) in peoplePick">
                            <div class="myli-center ub ub-ac">
                                <div class="myli-headpic">
                                    <div class="myli-headpic-box">
                                        <img class="myli-headpic-img" v-if="value.hashead" :src="value.headurl" @error="headpicReplace(value)" />
                                        <div class="myli-headpic-txt" v-else :class="value.headbgclass">{{value.headtext}}</div>
                                    </div>
                                </div>
                                <div class="myli-main ub-f1">
                                    <p class="fz-md fc-title inaline fz-md-set">{{value.name}}</p>
                                </div>
                                <div class="myli-remove" @click="pickPeople(value.userCode, false)">
                                    <i class="icon-20-group-remove"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="nothing ub ub-ac" v-else></div>
                </div>
            </div>
        </div>
        <script src="../js/appcan.js"></script>
        <script src="../js/appcan.control.js"></script>
        <script src="../js/appcan.scrollbox.js"></script>
        <script src="../js/vue.min.js"></script>
        <script src="../js/xdate.js"></script>
        <script src="../js/common.js"></script>
        <script src="js/JSPinyin.js"></script>
        <script src="js/address-pick.js"></script>
        <script src="../chat/js/chat-forward-more.js"></script>
        <script src="../chat/js/chat-create.js"></script>
    </body>
</html>