/*新的四个必 详情页*/
.fc-actualtime{
    color: #4a90e2;
}
.du4-zhiban-box{
    padding-bottom: 0.5em;
}
.du4-zhiban-box:nth-child(2){
    border-left: 1px solid #E1E1E1;
}
.du4-title-text-zhiban{
    width: 3em;
}
.du4-zhiban{
    padding: 1em 0 0.6667em;
}
.du4-zhiban-text{
    padding-left: 0.8333em;
}
.du4-title-text-hasprog{
    width: 8em;
}
.du4-prog-mg{
    margin-right: 0.625em;
}
.list4-item{
    margin: 0.625em;
    border-radius: 0.25em;
    border-style: solid;
    border-width: 1px 1px 1px 0.5em;
    border-color: #E1E1E1;
    position: relative;
}
.list4-item:first-child {
    margin-top: 0;
}
.list4-item.todo{
    border-left-color: #999999;
}
.list4-item.normal{
    border-left-color: #35D0D9;
}
.list4-item.abnormal{
    border-left-color: #FFA603;
}
.list4-item-icon{
    width: 17.29%;
    min-width: 2.5em;
    height: 100%;
    text-align: center;
}
.list4-item-detail-top{
    padding: 0.9375em 0.1875em 0 0.3125em;
}
.list4-item-detail-btm{
    padding: 0.75em 0.1875em 0.125em 0.3125em;
    border-top: 1px solid #E1E1E1;
}
.list4-item-detail-line{
    line-height: 1.2857;
    padding-bottom: 0.625em;
}
.list4-pic-box{
    overflow: hidden;
}
.list4-pic-none{
    margin-bottom: 0.625em;
}
.list4-pic{
    float: left;
    width: 2.25em;
    height: 2.25em;
    border-radius: 0.25em;
    border: 1px solid #E1E1E1;
    margin-right: 0.75em;
    margin-bottom: 0.625em;
}
.list4-thumbnail{
    max-width: 100%;
    max-height: 100%;
}
.icon-list4-flag{
    width: 1.6875em;
    height: 1.5em;
}
.list4-item.todo .icon-list4-flag{
    background-image: url(../../duty/img/duty-four-2/flag-grey.png);
}
.list4-item.normal .icon-list4-flag,
.list4-item.abnormal .icon-list4-flag{
    background-image: url(../../duty/img/duty-four-2/flag.png);
}
.icon-list4-qa{
    width: 1.625em;
    height: 1.5em;
}
.list4-item.todo .icon-list4-qa{
    background-image: url(../../duty/img/duty-four-2/qa-grey.png);
}
.list4-item.normal .icon-list4-qa{
    background-image: url(../../duty/img/duty-four-2/qa.png);
}
.icon-list4-time{
    width: 0.75em;
    height: 0.75em;
}
.list4-item.todo .icon-list4-time{
    display: none !important;
}
.list4-item.normal .icon-list4-time{
    background-image: url(../../duty/img/duty-four-2/time-green.png);
}
.list4-item.abnormal .icon-list4-time{
    background-image: url(../../duty/img/duty-four-2/time-orange.png);
}
.du4-fbnew{
    padding: 1.5em 1.3125em 0.75em;
    border: 1px solid #E1E1E1;
    border-radius: 0.25em;
    line-height: 1.25em;
}
.du4-fbnew-text{
    word-wrap: break-word;
    word-break: normal;
    margin-bottom: 0.75em;
}
.layer-a .layui-m-layerbtn span[yes],
.layer-a .layui-m-layerbtn span[no]{
    width: 50%;
}

.duty-four-br{
    padding-bottom: 1em;
}
.duty-four-txa{
    display: block;
    font-size: 0.875em;
    width: 100%;
    height: 10em;
    line-height: 1.25;
    border-radius: 0.2381em;
    border: 1px solid #52A6FF;
    padding: 1em 0.8571em;
    -webkit-transition: .3s;
    transition: .3s;
}
.duty-four-pic{
    margin-top: -0.628em;
}
.icon-list4-caogao{
     width: 2.0625em;
     height: 1.125em;
     background: url(../../duty/img/duty-four-2/caogao.png) no-repeat center/100%;
}
.duty-text{
    word-wrap: break-word; 
    word-break: break-all;
}

.list4-item-pie {
    width: 25.07%;
    min-width: 3.5em;
    padding-left: 0.5em;
}
