<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
<head>
    <title>新增整改单</title>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="" id="fsize-set">
    <script src="../js/fsize-set.js"></script>
    <link rel="stylesheet" href="../css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../css/ui-box.css">
    <link rel="stylesheet" href="../css/ui-base.css">
    <link rel="stylesheet" href="../css/ui-color.css">
    <link rel="stylesheet" href="../css/appcan.icon.css">
    <link rel="stylesheet" href="../css/appcan.control.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="reform/css/temporary.css">
</head>
<body class="" ontouchstart>
<div class="bc-bg" tabindex="0" data-control="PAGE" id="Page">

    <div class="bc-bg nopadding" data-control="FLEXBOXVER" id="content">
        <ul class="contentList bg-white border-btm" v-cloak>
            <li class="fz-md fz-md-set border-btm">
                <span class="title">标题</span>
                <input type="text" placeholder="请输入标题" v-model="title">
            </li>
            <li class="fz-md fz-md-set border-btm">
                <span class="title">提报时间</span>
                <span>{{createTime}}</span>
            </li>
            <li class="fz-md fz-md-set border-btm">
                <span class="title">详细位置</span>
                <input type="text" placeholder="请输入位置" v-model="location">
            </li>
            <li class="fz-md fz-md-set border-btm">
                <span class="title">事件描述</span>
                <p class="fc-text paddingT">
                    <textarea rows="3" class="ub-fh" placeholder="请输入事件描述信息" v-model="detail"></textarea>
                </p>
            </li>
            <!--<li class="fz-md fz-md-set">-->
                <!--<span class="title">巡查经理</span>-->
                <!--<span class="">{{manager}}</span>-->
            <!--</li>-->
            <li class="ub fz-md fz-md-set border-btm" @click="chooseDepCopy(0)" v-if="!showDepartment">
                <span class="title">责任部门</span>
                <span class="ub ub-f1">{{department}}</span>
                <i class="icon-20-g-goto"></i>
            </li>
            <li class="fz-md fz-md-set border-btm" v-if="showDepartment">
                <span class="title">责任部门</span>
                <span>{{department}}</span>
            </li>
            <li class="ub fz-md fz-md-set border-btm" @click="chooseDepCopy(1)">
                <span class="title">抄送</span>
                <span class="ub ub-f1">{{copyUserNames}}</span>
                <i class="icon-20-g-add"></i>
            </li>
            <li class="ub borderB">
                <span class="title fz-md fz-md-set">图片</span>
                <div class="ub ub-f1 picBox ub-ac">
                    <div class="pic" v-for="(img,index) in pic">
                        <span class="evImg1" :style="{backgroundImage: 'url(' + picPath + img + ')'}" @click="openPic(index)"></span>
                        <img class="del" src="../icon/20/delete-p.png" alt="" @click="delPic(index)">
                    </div>
                    <div class="pic" id="add" @click="uploadPic()" v-show="hidePic==1">
                        <img src="../img/addpic.png" alt="">
                    </div>
                </div>
            </li>
        </ul>

        <div class="uf" data-control="FOOTER" id="Footer">
            <div class="bg-white ub ub-ac ub-pc">
                <button class="btnFooter " id="button">
                    <span class="">派发</span>
                </button>
            </div>
        </div>
    </div>

</div>
<script src="../js/appcan.js"></script>
<script src="../js/appcan.control.js"></script>
<script src="../js/appcan.scrollbox.js"></script>
<script src="../js/template.import.js"></script>
<script src="../js/vue.min.js"></script>
<script src="../js/common.js"></script>
<script src="js/plug-in.js" type="text/javascript"></script>
<script src="js/main.js"></script>
<script src="js/config.js"></script>
<script src="reform/js/temporary-content.js"></script>
</body>
</html>