<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../css/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="../css/ui-box.css">
        <link rel="stylesheet" href="../css/ui-base.css">
        <link rel="stylesheet" href="../css/ui-color.css">
        <link rel="stylesheet" href="../css/appcan.icon.css">
        <link rel="stylesheet" href="../css/appcan.control.css">
        <link rel="stylesheet" href="../css/common.css">
    </head>
    <body class="noscale" ontouchstart>
        <div class="bc-bg" tabindex="0" data-control="PAGE" id="readlist" v-cloak>
            <div class="uh" data-control="HEADER" id="Header">
                <div class="ub ub-ac header">
                    <div class="nav-btn" id="nav-left">
                        <i class="icon-20-h-backto"></i>
                    </div>
                    <div class="ub-f1 ut-s tx-c" tabindex="0">
                        <span class="tab-pill">
                            <div class="tab-pill-box ub">
                                <div class="tab-pill-text actives">
                                    <span>未读</span>
                                </div>
                                <div class="tab-pill-text">
                                    <span>已读</span>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="nav-btn" id="nav-right">
                        <div class="fa fa-1g ub-img1"></div>
                    </div>
                </div>
            </div>
            <div class="bc-bg ub ub-ver" data-control="FLEXBOXVER" id="ScrollContent" class="uinn-4a">
                <div class="tab-con">
                    <div class="tab-box actives">
                        <ul class="myli">
                            <li class="myli-item" v-for="(value, key) in readno" v-cloak>
                                <div class="myli-center ub ub-ac">
                                    <div class="myli-headpic">
                                        <div class="myli-headpic-box">
                                            <img class="myli-headpic-img" v-if="value.hashead" :src="value.headurl" @error="headpicReplace(value)" />
                                            <div class="myli-headpic-txt" v-else :class="value.headbgclass">{{value.headtext}}</div>
                                        </div>
                                    </div>
                                    <div class="myli-main ub-f1">
                                        <p class="fz-md fc-title inaline fz-md-set">{{value.realname}}</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="nothing ub ub-ac" :class="readno.length==0?'':'hide'"></div>
                    </div>
                    <div class="tab-box">
                        <ul class="myli">
                            <li class="myli-item" v-for="(value, key) in readyes" v-cloak>
                                <div class="myli-center ub ub-ac">
                                    <div class="myli-headpic">
                                        <div class="myli-headpic-box">
                                            <img class="myli-headpic-img" v-if="value.hashead" :src="value.headurl" @error="headpicReplace(value)" />
                                            <div class="myli-headpic-txt" v-else :class="value.headbgclass">{{value.headtext}}</div>
                                        </div>
                                    </div>
                                    <div class="myli-main ub-f1">
                                        <p class="fz-md fc-title inaline fz-md-set">{{value.realname}}</p>
                                    </div>
                                    <div class="fz-sm fc-text">阅读时间: {{value.toview_time}}</div>
                                </div>
                            </li>
                        </ul>
                        <div class="nothing ub ub-ac" :class="readyes.length==0?'':'hide'"></div>
                    </div>
                </div>
                
            </div>
        </div>
        <script src="../js/appcan.js"></script>
        <script src="../js/appcan.control.js"></script>
        <script src="../js/appcan.scrollbox.js"></script>
        <script src="../js/template.import.js"></script>
        <script src="../js/vue.min.js"></script>
        <script src="../js/common.js"></script>
        <script src="../js/fastclick.js"></script>
        <script src="js/notice-detail-readlist.js"></script>
    </body>
</html>