<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../css/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="../css/ui-box.css">
        <link rel="stylesheet" href="../css/ui-base.css">
        <link rel="stylesheet" href="../css/ui-color.css">
        <link rel="stylesheet" href="../css/appcan.icon.css">
        <link rel="stylesheet" href="../css/appcan.control.css">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="css/duty.css">
        <link rel="stylesheet" href="css/duty-list.css">
    </head>
    <body class="" ontouchstart>
        <div class="bc-bg" tabindex="0" data-control="PAGE" id="duty-switch">
            <div class="uh" data-control="HEADER" id="Header">
                <div class="ub ub-ac header">
                    <div class="nav-btn" id="nav-left">
                        <i class="icon-20-h-backto"></i>
                    </div>
                    <!-- <h1 class="ub-f1 ulev-3 ut-s tx-c" tabindex="0">申请换班</h1> -->
                    <div class="ub-f1 ut-s tx-c" tabindex="0">
                        <span class="tab-pill">
                            <div class="tab-pill-box ub">
                                <div class="tab-pill-text" v-for="(item, index) in banci" :class="item.id==banciid?'actives':'' " @click="changeBan(index,item.id)" v-cloak>
                                    <span>{{item.shiftname}}</span>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="nav-btn" id="nav-right">
                        <div class="fa fa-1g ub-img1"></div>
                    </div>
                </div>
            </div>
            <div class="bc-bg ub ub-ver" data-control="FLEXBOXVER" id="ScrollContent" class="uinn-4a">
                
                    <div class="switch-content border-top border-btm mg-box">
                        <div class="switch-box bg-white">
                            <div class="switch-body duty-table-sm">
                                <div class="switch-item ub ub-pc" v-for="(item, index) in monthlist" :class="index==monthlistindex?'actives':'' " @click="changeMonth(index)" v-cloak>
                                    <div class="switch-unit sm">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">{{item.month}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="switch-content mg-box">
                        <div class="switch-box bg-white">
                            <div class="switch-head border-top border-btm">
                                <div class="switch-item">
                                    <span class="fz-md">日</span>
                                </div>
                                <div class="switch-item">
                                    <span class="fz-md">一</span>
                                </div>
                                <div class="switch-item">
                                    <span class="fz-md">二</span>
                                </div>
                                <div class="switch-item">
                                    <span class="fz-md">三</span>
                                </div>
                                <div class="switch-item">
                                    <span class="fz-md">四</span>
                                </div>
                                <div class="switch-item">
                                    <span class="fz-md">五</span>
                                </div>
                                <div class="switch-item">
                                    <span class="fz-md">六</span>
                                </div>
                            </div>
                            <div class="switch-body border-btm" v-cloak>
                                <div class="switch-item ub ub-pc" v-for="b in blanknum">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">&nbsp;</span>
                                            </div>
                                            <div class="switch-name">
                                                <span class="fz-md">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="switch-item ub ub-pc" v-for="(item, index) in dutytable" :data-date="item.duty_date" :class="item.duty_date==today?'current':'' ">-->
                                    <!--<div class="switch-unit">-->
                                        <!--<div class="switch-unit-box ub ub-ver ub-pc">-->
                                            <!--<div class="switch-day">-->
                                                <!--<span class="fz-md">{{item.duty_da}}</span>-->
                                            <!--</div>-->
                                            <!--<div class="switch-name">-->
                                                <!--<span class="fz-md">{{item.dutyPeoples[banciindex].realname}}</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="switch-item ub ub-pc" v-for="(item,index) in dutytable" :class="item.duty_da ==today?'current':'' ">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">{{item.duty_da}}</span>
                                            </div>
                                            <div class="switch-name">
                                                <div class="switch-name">
                                                    <template v-if="item.dutyPeoples.length>1">
                                                        <span class="fz-md" v-if="banciid==item.dutyPeoples[banciindex].detail_id" >{{item.dutyPeoples ? item.dutyPeoples[banciindex].realname : "--"}}</span>
                                                        <span class="fz-md" v-else>--</span>
                                                    </template>
                                                    <template v-if="item.dutyPeoples.length==1">
                                                        <span class="fz-md" v-if="banciid==item.dutyPeoples[0].detail_id" >{{item.dutyPeoples ? item.dutyPeoples[0].realname : "--"}}</span>
                                                        <span class="fz-md" v-if="banciid!=item.dutyPeoples[0].detail_id">--</span>
                                                    </template>
                                                    <template v-if="item.dutyPeoples.length==0">
                                                        <span class="fz-md">--</span>
                                                    </template>
                                                    <!--<span class="fz-md">{{item.dutyPeoples ? item.dutyPeoples[banciindex].realname : "&#45;&#45;"}}</span>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nothing" v-show="dutytable.length==0"></div>
                                <!-- <div class="switch-item ub ub-pc">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">&nbsp;</span>
                                            </div>
                                            <div class="switch-name">
                                                <span class="fz-md">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch-item ub ub-pc">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">&nbsp;</span>
                                            </div>
                                            <div class="switch-name">
                                                <span class="fz-md">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch-item ub ub-pc">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">&nbsp;</span>
                                            </div>
                                            <div class="switch-name">
                                                <span class="fz-md">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch-item ub ub-pc">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">&nbsp;</span>
                                            </div>
                                            <div class="switch-name">
                                                <span class="fz-md">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch-item ub ub-pc actives">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">1</span>
                                            </div>
                                            <div class="switch-name">
                                                <span class="fz-md">张利</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch-item ub ub-pc">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">2</span>
                                            </div>
                                            <div class="switch-name">
                                                <span class="fz-md">骆杰峰</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch-item ub ub-pc current">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">3</span>
                                            </div>
                                            <div class="switch-name">
                                                <span class="fz-md">薄素荣</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch-item ub ub-pc">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">4</span>
                                            </div>
                                            <div class="switch-name">
                                                <span class="fz-md">叶卫东</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch-item ub ub-pc">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">5</span>
                                            </div>
                                            <div class="switch-name">
                                                <span class="fz-md">骆杰峰</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch-item ub ub-pc">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">6</span>
                                            </div>
                                            <div class="switch-name">
                                                <span class="fz-md">石嵘</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch-item ub ub-pc">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">7</span>
                                            </div>
                                            <div class="switch-name">
                                                <span class="fz-md">麦钊明</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch-item ub ub-pc">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">8</span>
                                            </div>
                                            <div class="switch-name">
                                                <span class="fz-md">薄素荣</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch-item ub ub-pc">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">9</span>
                                            </div>
                                            <div class="switch-name">
                                                <span class="fz-md">李丹</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch-item ub ub-pc">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">10</span>
                                            </div>
                                            <div class="switch-name">
                                                <span class="fz-md">关华</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="switch-item ub ub-pc">
                                    <div class="switch-unit">
                                        <div class="switch-unit-box ub ub-ver ub-pc">
                                            <div class="switch-day">
                                                <span class="fz-md">11</span>
                                            </div>
                                            <div class="switch-name">
                                                <span class="fz-md">张清文</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                
                            </div>
                        </div>
                    </div>
                     
                
                    
            </div>
        </div>
        <script src="../js/appcan.js"></script>
        <script src="../js/appcan.control.js"></script>
        <script src="../js/appcan.scrollbox.js"></script>
        <script src="../js/template.import.js"></script>
        <script src="../js/vue.min.js"></script>
        <script src="../js/common.js"></script>
        <script src="../js/xdate.js"></script>
        <script src="js/duty-month.js"></script>
    </body>
</html>