<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../css/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="../css/ui-box.css">
        <link rel="stylesheet" href="../css/ui-base.css">
        <link rel="stylesheet" href="../css/ui-color.css">
        <link rel="stylesheet" href="../css/appcan.icon.css">
        <link rel="stylesheet" href="../css/appcan.control.css">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="css/duty-four.css">
    </head>
    <body class="" ontouchstart>
        <div class="bc-bg" tabindex="0" data-control="PAGE" id="duty_four">
            <div class="uh" data-control="HEADER" id="Header">
                <div class="ub ub-ac header">
                    <div class="nav-btn" id="nav-left">
                        <i class="icon-20-h-backto"></i>
                    </div>
                    <h1 class="ub-f1 ulev-3 ut-s tx-c" tabindex="0">四个必</h1>
                    <div class="nav-btn" id="nav-right">
                        <i class="icon-20-h-instrution"></i>
                    </div>
                </div>
            </div>
            <div class="uf" data-control="FOOTER" id="Footer" v-if="isCanEdit" @click="refer()">
                <div class="btn-setbtm border-top pd-10-lr bg-white" id="handin">
                    <button class="btn bg-main">
                        <span class="fz-bg fc-white">提交</span>
                    </button>
                </div>
            </div>
            <div class="bc-bg ub ub-ver du4" data-control="FLEXBOXVER" id="ScrollContent" v-cloak>
                <div class="scrollbox">
                   
                    <div class="du4-box">
                        <div class="du4-title bg-white pd-10-lr border-btm ub ub-ac">
                            <div class="du4-title-text du4-title-text-setwidth">
                                <span class="fz-md fc-title">值班日</span>
                            </div>
                            <div class="du4-title-main ub-f1">
                                <span class="fz-md fc-text">{{dutyDay}}</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="du4-box">
                        <div class="du4-title bg-white pd-10-lr border-btm ub ub-ac">
                            <div class="du4-title-text du4-title-text-setwidth">
                                <span class="fz-md fc-title">值班人</span>
                            </div>
                            <div class="du4-title-main ub-f1">
                                <span class="fz-md fc-text"  v-for="(item,index) in dutyPerson">{{item.userName}} &nbsp;</span>
                            </div>
                        </div>
                    </div>
                   
                    <div class="du4-box">
                        <div class="du4-title bg-white pd-10-lr border-btm ub ub-ac">
                            <div class="du4-title-text ub-f1">
                                <span class="fz-md fc-title">必到时间地点</span>
                            </div>
                            <div class="du4-title-main ub-f1">
                            </div>
                            <div class="du4-title-arr">
                                <button class="btn btn-sm bg-main" @click="track()">
                                    <i class="icon-20-location"></i>
                                    <span class="fz-sm">轨迹</span>
                                </button>
                            </div>
                        </div>
                        <div class="du4-prog" v-cloak>
                            
                            <div class="du4-prog-item pd-10-lr ub" v-for="(item, index) in mustPlace">
                                <div class="du4-prog-left">
                                    <div class="du4-prog-left-box">
                                        <div class="du4-prog-left-text">
                                            <span class="fz-sm fc-text">{{item.startTime.split(':')[0]}}:{{item.startTime.split(':')[1]}}</span>
                                        </div>
                                        <div class="du4-prog-left-text">
                                            <span class="fz-sm fc-text">-</span>
                                        </div>
                                        <div class="du4-prog-left-text">
                                            <span class="fz-sm fc-text">{{item.endTime.split(':')[0]}}:{{item.endTime.split(':')[1]}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="du4-prog-mid">
                                    <div class="du4-prog-mid-box">
                                        <div class="du4-prog-dot"></div>
                                    </div>
                                    <div class="du4-prog-line"></div>
                                </div>
                                <div class="du4-prog-right ub-f1">
                                    <div class="du4-prog-right-box bg-white ub ub-ac">
                                        <div class="du4-prog-right-icon ub ub-ac ub-pc">
                                            <i class="icon-35-task"></i>
                                        </div>
                                        <div class="du4-prog-right-con ub-f1">
                                            <div class="du4-prog-right-item ub" @click="seePlace(item, index)">
                                                <div class="">
                                                    <span class="fz-md fc-title">必到地点：</span>
                                                </div>
                                                <div class="ub-f1 inaline">
                                                    <span class="fz-md fc-text">{{item.place}}</span>
                                                </div>
                                                <div class="">
                                                    <i class="icon-20-g-goto"></i>
                                                </div>
                                            </div>
                                            <div class="du4-prog-right-item border-top ub" @click="seeTerm(item, index)">
                                                <div class="">
                                                    <span class="fz-md fc-title">巡查项：</span>
                                                </div>
                                                <div class="ub-f1 inaline">
                                                    <div class="prog" :class="'prog-term-'+index"></div>
                                                    <div class="du4-prog-patrol">
                                                        <span class="du4-prog-patrol-text fz-sm fc-text">正常</span>
                                                        <span class="du4-prog-patrol-text fz-sm fc-main">{{item.normalLength}}</span>
                                                        <span class="du4-prog-patrol-divide fz-sm fc-disabled">|</span>
                                                        <span class="du4-prog-patrol-text fz-sm fc-text">异常</span>
                                                        <span class="du4-prog-patrol-text fz-sm fc-abnormal">{{item.abnormalLength}}</span>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <i class="icon-20-g-goto"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="du4-box">
                        <div class="du4-title bg-white pd-10-lr border-btm ub ub-ac" id="people">
                            <div class="du4-title-text du4-title-text-setwidth">
                                <span class="fz-md fc-title">必见人</span>
                            </div>
                            <div class="du4-title-main ub-f1">
                                <div class="prog prog-people"></div>
                            </div>
                            <div class="du4-title-arr du4-title-arr-setwidth">
                                <i class="icon-20-g-goto"></i>
                            </div>
                        </div>
                    </div>
                    
                    <div class="du4-box">
                        <div class="du4-title bg-white pd-10-lr border-btm ub ub-ac" id="question">
                            <div class="du4-title-text du4-title-text-setwidth">
                                <span class="fz-md fc-title">必问问题</span>
                            </div>
                            <div class="du4-title-main ub-f1">
                                <div class="prog prog-question"></div>
                            </div>
                            <div class="du4-title-arr du4-title-arr-setwidth">
                                <i class="icon-20-g-goto"></i>
                            </div>
                        </div>
                    </div>
                   
                    <div class="du4-box">
                        <div class="du4-title bg-white pd-10-lr ub ub-ac" id="special">
                            <div class="du4-title-text ub-f1">
                                <span class="fz-md fc-title">特殊情况反馈</span>
                            </div>
                            <div class="du4-title-arr du4-title-arr-setwidth">
                                <i class="icon-20-g-goto" v-if="noSpecial==false"></i>
                            </div>
                        </div>
                        <div class="du4-fbshow bg-white border-btm pd-10-lr">
                            <div class="du4-fbshow-box">
                                <div class="du4-fbshow-text">
                                    <span class="fz-md fc-text">{{specialInfo.content}}</span>
                                </div>
                                <div class="du4-fbshow-pic">
                                    <img v-if="specialInfo.imgURL!=''" :src="specialInfo.imgURL" @click="openImg(specialInfo.imgURL)"/>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            
        </div>
        <script src="../js/appcan.js"></script>
        <script src="../js/appcan.control.js"></script>
        <script src="../js/appcan.scrollbox.js"></script>
        <script src="../js/template.import.js"></script>
        <script src="../js/vue.min.js"></script>
        <script src="../js/xdate.js"></script>
        <script src="../js/common.js"></script>
        <script src="../js/prog.js"></script>
        <script src="js/duty-four.js"></script>
        <script src="js/duty-four-detail.js"></script>
    </body>
</html>